.boxItem {
    background-color: rgb(233, 236, 236);
  display: flex;
  width: 50rem;
  margin: 10px auto;
  height: 80px;

}

.textItem{
    margin-left: 16px
}

.title{
    height:50%;
    line-height: 40px;
    font-weight: 700;
    font-size: 1.2rem;
}
.deadline{
    height:50%;
    line-height: 40px;
    font-style: italic;
    font-size: 1.2rem;
}

.item-status {
    width: 20px;
}

.success{
    background-color: green;
}
.danger{
    background-color: red;
}
.warning{
    background-color: yellow;
}